table{
	width:100%;
	margin:0 auto;
	line-height: 30px;
	th{
		text-align: left;
		background-color: #cecece;
	}
	th,td{
		padding:8px 3px;
	}
	td{
		border-bottom:1px solid #cecece;
		img{vertical-align: middle;cursor:pointer;}
	}
	a{
		text-decoration: none;
		margin-right:10px;
		color:#0666c5;
	}
	.minImg{
		margin-right:5px;
	}
}
#pagination{
	float:right;
}
