doctype html
html(lang='zh-CN')
	head
		title 404
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(type="text/css",rel="stylesheet",href="/css/style.css")
		style.
			img{display:block;width:600px;margin:0 auto;margin-top:40px;}
	body
		img(src="/images/404.gif")
