form {
  width: 600px;
  margin: 0 auto; }
  form label {
    width: 80px;
    margin-top: 5px; }
  form h1 {
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 700; }
  form .input {
    margin-left: 80px; }
  form textarea, form input, form select {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cecece;
    padding: 7px 3px; }
  form .error, form .tip {
    height: 30px;
    line-height: 30px;
    color: #a94442;
    text-align: left;
    padding-left: 80px; }
  form .error {
    padding-left: 80px; }
  form .formgroup {
    position: relative; }
  form .photo a {
    position: absolute;
    right: 5px;
    top: 10px;
    font-style: normal;
    cursor: pointer; }
  form .photo .input {
    margin-bottom: 10px; }

.add {
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 200px;
  color: red; }
