table {
  width: 100%;
  margin: 0 auto;
  line-height: 30px; }
  table th {
    text-align: left;
    background-color: #cecece; }
  table th, table td {
    padding: 8px 3px; }
  table td {
    border-bottom: 1px solid #cecece; }
    table td img {
      vertical-align: middle;
      cursor: pointer; }
  table a {
    text-decoration: none;
    margin-right: 10px;
    color: #0666c5; }
  table .minImg {
    margin-right: 5px; }

#pagination {
  float: right; }
