form {
  margin: 100px  auto 0 auto;
  width: 300px; }
  form label {
    width: 80px;
    margin-top: 5px; }
  form .input {
    margin-left: 80px; }
  form input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cecece;
    padding: 7px 3px; }
  form .formgroup, form .tip, form .button {
    margin-bottom: 20px; }
  form .tip {
    height: 30px;
    line-height: 30px;
    color: #a94442;
    text-align: center; }
