.footer-index
	.container
		p ©Copyright 2015 qq头像网
		p 版权声明：本站内容均来自于网络，如需删除请联系网站管理员
		script.
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256641704'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1256641704%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));