.header-index
	.container.clearfix
		.logo.l
			a(href="/",title="QQ头像网") QQ头像网
		.header-nav.r
			//ul
				li
					a(href="/index.html",title="QQ男生头像") QQ男生头像
				li
					a(href="/index.html",title="QQ女生头像") QQ女生头像
				li
					a(href="/index.html",title="QQ情侣头像") QQ情侣头像