h2 所有分类
ul.clearfix.subNav
	if type=="nanshengtouxiang"
		li.current
			a(href="/list/nanshengtouxiang/1",title="男生头像") 男生头像
	else
		li
			a(href="/list/nanshengtouxiang/1",title="男生头像") 男生头像
	if type=="nvshengtouxiang"
		li.current
			a(href="/list/nvshengtouxiang/1",title="女生头像") 女生头像
	else
		li
			a(href="/list/nvshengtouxiang/1",title="女生头像") 女生头像
	if type=="qinglvtouxiang"
		li.current
			a(href="/list/qinglvtouxiang/1",title="情侣头像") 情侣头像
	else
		li
			a(href="/list/qinglvtouxiang/1",title="情侣头像") 情侣头像
	if type=="katongtouxiang"
		li.current
			a(href="/list/katongtouxiang/1",title="卡通头像") 卡通头像
	else
		li
			a(href="/list/katongtouxiang/1",title="卡通头像") 卡通头像
	if type=="hetouxiang"
		li.current
			a(href="/list/hetouxiang/1",title="黑系") 黑系
	else
		li
			a(href="/list/hetouxiang/1",title="黑系") 黑系
	if type=="baitouxiang"
		li.current
			a(href="/list/baitouxiang/1",title="白系") 白系
	else
		li
			a(href="/list/baitouxiang/1",title="白系") 白系
	if type=="shanggantouxiang"
		li.current
			a(href="/list/shanggantouxiang/1",title="伤感头像") 伤感头像
	else
		li
			a(href="/list/shanggantouxiang/1",title="伤感头像") 伤感头像
	if type=="dongtaitouxiang"
		li.current
			a(href="/list/dongtaitouxiang/1",title="动态头像") 动态头像
	else
		li
			a(href="/list/dongtaitouxiang/1",title="动态头像") 动态头像
	if type=="wenzitouxiang"
		li.current
			a(href="/list/wenzitouxiang/1",title="带文字头像") 带文字头像
	else
		li
			a(href="/list/wenzitouxiang/1",title="带文字头像") 带文字头像
	if type=="oumeitouxiang"
		li.current
			a(href="/list/oumeitouxiang/1",title="欧美头像") 欧美头像
	else
		li
			a(href="/list/oumeitouxiang/1",title="欧美头像") 欧美头像
	if type=="dongmantouxiang"
		li.current
			a(href="/list/dongmantouxiang/1",title="动漫头像") 动漫头像
	else
		li
			a(href="/list/dongmantouxiang/1",title="动漫头像") 动漫头像
	if type=="weixintouxiang"
		li.current
			a(href="/list/weixintouxiang/1",title="微信头像") 微信头像
	else
		li
			a(href="/list/weixintouxiang/1",title="微信头像") 微信头像
	if type=="meinvtouxiang"
		li.current
			a(href="/list/meinvtouxiang/1",title="美女头像") 美女头像
	else
		li
			a(href="/list/meinvtouxiang/1",title="美女头像") 美女头像
	if type=="shuaigetouxiang"
		li.current
			a(href="/list/shuaigetouxiang/1",title="帅哥头像") 帅哥头像
	else
		li
			a(href="/list/shuaigetouxiang/1",title="帅哥头像") 帅哥头像
	if type=="fzltouxiang"
		li.current
			a(href="/list/fzltouxiang/1",title="非主流头像") 非主流头像
	else
		li
			a(href="/list/fzltouxiang/1",title="非主流头像") 非主流头像
	if type=="keaitouxiang"
		li.current
			a(href="/list/keaitouxiang/1",title="可爱头像") 可爱头像
	else
		li
			a(href="/list/keaitouxiang/1",title="可爱头像") 可爱头像
